<!DOCTYPE HTML>

<HTML lang='en'>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Gyuhyeon Sim, Portfolio</title>

  <meta property="og:type" content="website">
  <meta property="og:title" content="Gyuhyeon Sim, Portfoli">
  <meta property="og:url" content="https://gyuhyeon.azurewebsites.net/">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">

  <style type="text/css">
		body { font-family: Helvetica, sans-serif; }
		form { margin-top: 15px; }
		form > input { margin-right: 15px; }
	</style>

</head>
	
  <!-- Menu -->
  <div class="ui top fixed menu" id="menu">
      <a href="https://gyuhyeon.azurewebsites.net/" class="item">Home</a>
  </div>
	
<body>
    <div class="ui section divider"></div>
    <div class="ui main container" style="font-size:1.2em;">
      <h1>Human Computer Interaction</h1>
    </div>
    <span id="profile"></span>
    <div class="ui section divider"></div>
    <div class="ui main container" style="font-size:1.2em;">
      <h1>Assignment 1: Interface review</h1>
      ·Due 9/18 11:59 pm.<br>
      ·Submited file : <a href="https://drive.google.com/open?id=1-NNZxfy50FT116thaUwGAyRWPJuFQKa5">[HCI-under]hw1_2017320229.pdf</a><br>
      ·Explanation : interface review of intelligent assistants and travel planning web sites
    </div>
    <div class="ui section divider"></div>
	<div class="ui main container" style="font-size:1.2em;">
      <h1>Assignment 2: Interface review</h1>
      ·Due 10/02 11:59 pm.<br>
      ·Submited file : <a href="https://drive.google.com/open?id=1M-OBfT8yQ4nQPooropIE82SGH2XgFMCn">[HCI-under]hw2_2017320229.pdf</a><br>
      ·Explanation : interface review of picture organization software and analysis of input flow
    </div>
<div class="ui section divider"></div>
<div class="ui main container" style="font-size:1.2em;">
      <h1>Assignment 3-1: User research</h1>
      ·Due 10/23 11:59 pm.<br>
      ·Submited file : <a href="https://drive.google.com/file/d/1F0NXKxyp_V1fcB73Lwer9eTHN1dpIJ8D/view?usp=sharing">[HCI-under]hw3_2017320229.pdf</a><br>
      ·Explanation : user research for developing UI that is suitable for main users.<br>
      ·Videos : <a href="https://drive.google.com/file/d/1ZFnSVfgFf3X-pt5lnzHKuxUxwT8m9LCc/view?usp=sharing">Video 1 link </a> /  <a href="https://drive.google.com/file/d/1aCGP2T4QQ0cEEnVvZB6bO80mojZOQOuq/view?usp=sharing">Video 2 link</a> <br>
    </div>
<div class="ui section divider"></div>
<div class="ui main container" style="font-size:1.2em;">
      <h1>Assignment 3-2: Resume Authoring</h1>
      ·Due 10/23 11:59 pm.<br>
      ·Submited file : <a href="hw3">Resume Authoring.html</a><br>
      ·Explanation :<br> 1.유저가 수정이나 값 설정을 쉽게할 수 있도록 연관된 문항끼리 묶어 Phase를 구성하였습니다. 특정 Phase의 설정이 끝이났으면 'Reflect and Next'버튼을 눌러 다음 Phase로 넘어가면 됩니다. 그리고 반영된 사항은 페이지 오른쪽에 Preview로 반영됩니다.<br>
    	<br> 2. html파일을 save하고 save한 html파일이 있는 디렉토리에 images 디렉토리를 만들어 사진을 넣어주어야 html파일에 반영됩니다.
	</div>
<div class="ui section divider"></div>
</body>
