<!DOCTYPE HTML>

<HTML lang='en'>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Gyuhyeon Sim, Portfolio</title>

  <meta property="og:type" content="website">
  <meta property="og:title" content="Gyuhyeon Sim, Portfoli">
  <meta property="og:url" content="https://gyuhyeon.azurewebsites.net/">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">

  <style type="text/css">
		body { font-family: Helvetica, sans-serif; }
		form { margin-top: 15px; }
		form > input { margin-right: 15px; }
	</style>

</head>
<body>
  <!-- Menu -->
  <div class="ui top fixed menu" id="menu">
      <div class="item">
        Gyuhyeon Sim
      </div>
      <a href="#about" class="item">About</a>
      <a href="#publication" class="item">Publication</a>
      <a href="#experiences" class="item">experiences</a>
      <a href="#Course" class="item">Course</a>
  </div>

  <!-- About -->
  <span id="about"></span>
    <div class="ui main container" style="padding-top:60px;">
      <div class="ui items">
        <div class="item">
        <div class="content">
        <a class="header">Gyuhyeon Sim</a>
        <div class="meta">
          <span>
              Department of Computer Science and Engineering, Korea University, <a href="https://dbserver.korea.ac.kr">Database Lab</a>
          </span>
        </div>
        <div class="description">
          <p>
            [Contact me]</br>
            <i class="mail icon"></i>
            E-mail: gyuhyeon1999@gmail.com</br>
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>

  <span id="profile"></span>
  <div class="ui section divider"></div>
  <div class="ui main container" style="font-size:1.2em;">
    <h1>Profile</h1>
    ·Coming soon
  </div>

  <span id="publication"></span>
  <div class="ui section divider"></div>
  <div class="ui main container" style="font-size:1.2em;">
    <h1>Publication</h1>
      ·	<strong>Gyuhyeon Sim</strong>, Changbeom Shim, Yon Dohn Chung (2018). An Efficient Method for Searching Interest-aware Ridesharing Groups, KCC2018. </br>
  </div>

  <span id="experiences"></span>
  <div class="ui section divider"></div>
  <div class="ui main container" style="font-size:1.2em;">
    <h1>Experiences</h1>
    <div class="ui list">
        1. 고려대학교 정보보호 연구원 학부연구생  |  2017.05 ~ 2017.12<br>
        2. Microsoft Student Partners Developer  |  2017.09 ~ <br>
        3. 고려대학교 데이터베이스 연구실 학부연구생  |  2018.03 ~<br>
      </div>
  </div>

  <span id="Course"></span>
  <div class="ui section divider"></div>
  <div class="ui main container" style="font-size:1.2em;">
      <h1>Ongoing course Project</h1>
      1. <a href="hci">Human Computer Interaction(HCI)</a><br>
      2. Computer Network<br>
      3. Computer Security</a><br>
      4. Engineering Mathmatics</a><br>
      5. Deep Learning</a><br>
      6. Data Learning and Intelligent</a><br>
      7. Programming Language</a><br>
      8. Data Communications</a><br>
    </div>
  </div>

  <div class="ui section divider"></div>
</body>>